span {
  color: white;
  margin: auto;
}

.containerTitulo {
  text-align: center;
  padding-top: 0.1%;
  background-color: #851848;
  min-height: 1em;

  margin-bottom: 1em;

  display: flex;
  height: 3em;
  width: 100%;
}

.tituloText {
  font-size: 24px;
}
