.text-bold {
  font-weight: bold;
}

.renglon {
  font-size: 20px;
  padding: 1em;
}

.mapa {
  width: 45%;
  height: 45%;
  margin: 1.5em;
}

.datos {
  width: 45%;
  height: 45%;
  margin: 1.5em;
}

.nombreClinica {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

button {
  background-color: #d5538c;
  border: none;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  padding: 2em 0;
}

.btnfos {
  color: white;
  cursor: pointer;
  display: block;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  // margin: 0 auto 2em;
  border-radius: 5px;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}

.btnfos-1 {
  background: #d5538c;
  color: white;
}

.btnfos-1:hover {
  color: #851848;
}

.btnfos-1 svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
  border-radius: 5px;
}
.btnfos-1 rect {
  fill: none;
  stroke: #851848;
  stroke-width: 1;
  stroke-dasharray: 422, 0;
}

.btnfos-1:hover {
  background: rgba(225, 51, 45, 0);
  letter-spacing: 1px;
  font-weight: 900;
}

.btnfos-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
